$bodyFont: 'Open Sans', sans-serif;
$bodyFontWeight1: 400;

$headingFont: 'Poppins', sans-serif;
$headingFontWeight1: $bodyFontWeight1;
$headingFontWeight2: 600;

$backgroundColor: #674bb1;
$white: #ffffff;
$fontViolet: #b1a0ee;
$colorButtonHover: #e980e7;
$colorMediaHover: #ff4ebd;

$widthMobile: 1300px;
$widthChange: 375px;